.container {
    width: 100vw;
    margin: 0 auto;
  }
.hero-section {
    width: 100%;
    height: 480px;
    display: flex;
    background-image: url("../../images/unsplash_2d4lAQAlbDA.png");
}
.hero-section .text {
    width: 50%;
    padding: 70px;
    color: #fff;
    background: #37474FB2;
    opacity: .5;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text h1 {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 70px;
    margin-bottom: 20px;
}
.text h1 span {
    font-weight: bold;
}
.text p {
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.hero-section .image {
    background-image: url("../../images/unsplash_CLKGGwIBTaY.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 50%;
}
.article {
    display: flex;
    color: #244144;
    position: relative;
    top: -50px;
    padding: 0 70px;
}
.article .text {
    width: 60%;
    font-size: 30px;
}

.text-title {
    font-size: 15px;
    margin: 10px 0;
}
.text-subtitle {
    font-size: 30px;
    font-weight: lighter;
    color: #555454;
    margin: 10px 0;
}
.article .figures {
    margin-top: 45px;
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.figures p {
    font-size: 20px;
    font-weight: bolder;
}
.fig-subtitle span {
    font-size: 13px;
    text-align: center;
}