.tab-container {
  position: relative;
  top: -130px;
  margin-left: 70px;
  
}

.input-field {
  background: #FBFBFB;
  color: #3A3A3A;
  width: fit-content;
  padding: 10px 30px;
}
.tab-button .primary {
  background: #263C41;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: bold;
  transition: ease .5s;
}
.tab-button .secondary {
  background: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
  color: #244144;
  transition: ease .5s;
}
.input-field button {
  background: #263C41;
  color: #f1f1f1;
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: 10px;
  padding: 10px 20px;
}
label {
  margin-right: 10px;
  color: #041618;
}
select {
  background: #263C41;
  margin-right: 25px;
  color: white;
  font-size: 15px;
  padding: 8px 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

option:hover {
  background: #263C41;
  color: #3A3A3A;
}
