.house-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.house-header h3 {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
}
.search-field {
    /* border: 2px solid #244144; */
    padding: 5px 10px;
}
.search-field button {
    background: #244144;
    color: #f1f1f1;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 20px;
}
.search-field input {
    padding: 10px 20px;
    border: none;
    outline: none;
}
.houses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.houses-desc {
    width: 350px;
    background: #244144;
    color: #e8eef1;
    padding: 20px;
    height: 200px;
    margin-top: -5px;
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.houses-desc h1 {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    /* line-height: 70px; */
}
.houses-section img {
    width: 350px;
    height: 300px;
}
.houses-section .primary {
    background: #041618;
  color: #e8eef1;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
}
.houses-section {
    width: fit-content;
    margin-bottom: 50px;
}