.container {
  width: 90vw;
  height: fit-content;
  margin: 0 auto;
}

.text {
  color: #3a3a3a;
}
.properties-wrapper .text h3{
  margin: 10px 0;
}
.property-container {
  display: flex;
  margin-top: 50px;
  overflow: hidden;
}
.property-section {
  width: 500px;
  margin-right: 30px;
  transition: 0.5s;
}
.property-section img {
  width: 400px;
  height: 500px;
}
.property-section .primary {
  background: #041618;
  color: #e8eef1;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
}
.desc {
  background: #fff;
  color: #3a3a3a;
  padding: 20px 0;
  /* height: 200px; */
  /* margin-top: -5px; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; */
}
/* .desc h1 {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
} */

.desc .primary {
  position: relative;
  top: -180px;
  /* left: -19px; */
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
}
.heading {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  color: #244144;
  font-weight: 100;
}
.left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 30px solid #b1b5b8;
  border-bottom: 15px solid transparent;
  position: relative;
  top: -381px;
  left: 105px;
  cursor: pointer;
}
.left:hover {
  border-right: 30px solid #244144;
}
.right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 30px solid #244144;
  border-bottom: 15px solid transparent;
  position: relative;
  top: -440px;
  right: 15px;
  margin-left: auto;
  cursor: pointer;
}
.right:hover {
  border-left: 30px solid #b1b5b8;
}
