.video-section {
  display: block;
  width: 100vw !important;
  background: #244144;
  height: fit-content;
}
.video-section .heading {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  color: #e8eef1;
  font-weight: 100;
}
.heading article {
  max-width: 500px;
  line-height: 30px;
}
.heading .primary {
  background: #041618;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
}
.heading h3 {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 1px;
}
.heading p {
  margin-bottom: 20px;
}
.video {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.video-js .vjs-big-play-button {
  background: #041618 !important;
  outline: none;
  border: none;
}
