.video-section {
  display: block;
  width: 100vw !important;
  background: #263C41;
  height: fit-content;
  padding: 0 70px;
}
.video-section .container {
  padding: 30px 0;
}
.video-section .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e8eef1;
  font-weight: 100;
}
.heading article {
  max-width: 500px;
  line-height: 30px;
}
.heading .primary {
  background: #041618;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.heading h3 {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.heading p {
  margin-bottom: 30px;
  max-width: 450px;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 50px; */
}
.video-js .vjs-big-play-button {
  background: rgb(207, 206, 206) !important;
  opacity: .2;
  outline: none;
  border: none;
}
.vjs-poster {
  background-size:cover !important;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before, .vjs-button > .vjs-icon-placeholder:before, .video-js .vjs-modal-dialog, .vjs-modal-dialog .vjs-modal-dialog-content {
  color: red;
}
.video-js .vjs-control-bar {
  display: flex !important;
}
.more-videos-video {
  display: flex;
  justify-content: space-between;
}
.more-videos-heading{
  color: #fff;
}
.more-videos-heading p {
  margin: 30px;
}
.video-player-1651005622274-dimensions {
  width: 300px;
  height: 300px;
  object-fit: cover;
}