/* .navbar {
    width: 90vw;
    height: 60px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    color: #3A3A3A !important;
    text-decoration: none !important;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.logo:hover {
    color: #6898a7;
}
.nav-links {
    display: flex;
}
.links {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    list-style-type: none;
    margin: 0 5px;
    text-transform: capitalize;
    cursor: pointer;
    color: #3A3A3AB2;
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    border-radius: 5px;
    transition: ease-in .5s;
}
.link{
    text-decoration: none;
    color: #244143;
    transition: .3s
}
.links:hover {
    color: #fff;
    background: #263C41;
    padding: 8px 16px;
}

.action-buttons {
    display: flex;
}
.action-buttons .primary {
    background: #263C41;
    padding: 10px 15px;
    color: #e8eef1;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    outline: none;
    margin: 0;
    box-shadow: 0px 8px 12px 0px #009CE214;
}
.action-buttons .primary:hover {
    background: #6898a7;
}
.action-buttons .secondary:hover {
    color: #6898a7;
}
.action-buttons .secondary {
    margin-right: 20px;
    text-transform: capitalize;
    cursor: pointer;
    background: #f1f1f1;
    color: #244143;
    padding: 10px 20px;
    border: none;
    outline: none;

}

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    transition: all ease-in-out .9s;
    z-index: 1000;
} */
