.about-section {
  display: flex;
  justify-content: space-between;
padding: 0 70px;
  margin-bottom: 100px;
}
.about-image {
  width: 50%;
  background-image: url("../../images/unsplash_CLKGGwIBTaY.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
.about-text {
  width: 40%;
}
.about-text h3 {
  word-spacing: 1px;
  font-size: 1.5rem;
  color: #3A3A3AB2;
  margin-bottom: 30px;
}
.about-text p {
  margin-bottom: 30px;
  max-width: 450px;
  text-align: justify;
  color: #5e5b5bb2;
}
.about-text .primary {
  background: #263C41;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 15px 25px;
  box-shadow: 0px 8px 12px 0px #009CE214;
}
